* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator {
    width: 25vw;
    margin: 100px auto;
    border: 1px black solid;
    border-radius: 2rem;
    padding: 2rem 0.5rem;
}

.display {
    font-size: 90px;
    text-align: right;
    min-height: 100px;
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

button {
    height: 70px;
    flex: 1 1 0;
    border-radius: 1rem;
    border: 1px grey solid;
}

#backspace img {
    width: 15%;
}

.final .digit {
    flex: 1;
}

.equals {
    flex: 3 1 auto;
}

/* TODO: MOVE CALCULATOR TOWARDS THE CENTER, VERTICALLY */
/* TODO: BUTTONS SHOULDN'T SQUISH WHEN SCREEN IS NARROWED */