* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    margin: 0 auto;
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

button {
    height: 70px;
    flex: 1 1 0;
}

.final .digit {
    flex: 1;
}

.equals {
    flex: 3 1 auto;
}

/* TODO: MOVE CALCULATOR TOWARDS THE CENTER, VERTICALLY */