* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator {
    max-width: 25rem;
    margin: 5% auto 0 auto;
    border-radius: 2rem;
    padding: 2rem 1rem;
    background-color: #243441;
}

.display {
    font-size: 80px;
    text-align: right;
    min-height: 200px;
    max-width: 100%;
    border: none;
    background-color: #243441;
    color: #fff;
    padding: 0 0.5rem;
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    width: 100%;
}

.buttons-container,
.row {
    gap: 10px;
}

/* buttons */
button {
    flex: 1;
    height: 70px;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    font-weight: bolder;
    background-color: #243441;
    box-shadow:
        -1px -3px 8px -4px rgba(255, 255, 255, 0.4),
        inset 0 -0.1px 8px -4px rgba(255, 255, 255, 0.1),
        0 2px 7px -2px rgba(0, 0, 0, 1),
        inset 0 5px 7px -2px rgba(0, 0, 0, 0.1);
}

.digit,
.decimal {
    color: #fff;
}

.clear,
.toggle-negative,
.percent,
.operator {
    color: #ED802E;
}

.equals {
    flex: 2 1 10px;
    background-color: #ED802E;
    color: #fff;
    box-shadow: 0 2px 7px -2px rgba(0, 0, 0, 1);
}

/* TODO: MOVE CALCULATOR TOWARDS THE CENTER, VERTICALLY */